<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huawei.ibooking.mapper.SeatMapper">

    <resultMap id="SeatResultMap" type="com.huawei.ibooking.model.SeatDO">
        <id property="id" column="id" />
        <result property="studyRoomId" column="studyRoomId" />
        <result property="seatColumn" column="seatColumn" />
        <result property="seatRow" column="seatRow" />
        <result property="hasSocket" column="hasSocket" />
        <result property="status" column="status" />
    </resultMap>

    <insert id="insertSeat" parameterType="com.huawei.ibooking.model.SeatDO">
        INSERT INTO tbl_seat (studyRoomId, seatColumn, seatRow, hasSocket, status)
        VALUES (#{studyRoomId}, #{seatColumn}, #{seatRow}, #{hasSocket}, #{status})
    </insert>

    <select id="getSeatById" parameterType="int" resultMap="SeatResultMap">
        SELECT id, studyRoomId, seatColumn, seatRow, hasSocket, status
        FROM tbl_seat
        WHERE id = #{id}
    </select>

    <update id="updateSeat" parameterType="com.huawei.ibooking.model.SeatDO">
        UPDATE tbl_seat
        SET studyRoomId = #{studyRoomId},
            seatColumn = #{seatColumn},
            seatRow = #{seatRow},
            hasSocket = #{hasSocket},
            status = #{status}
        WHERE id = #{id}
    </update>

    <delete id="deleteSeat" parameterType="int">
        DELETE FROM tbl_seat
        WHERE id = #{id}
    </delete>

    <select id="findSeatInfo" resultMap="SeatResultMap" parameterType="com.huawei.ibooking.model.SeatDO">
        select *
        from tbl_seat
        <where>
            <if test="studyRoomId != null">AND studyRoomId = #{studyRoomId}</if>
            <if test="seatColumn != null">AND seatColumn = #{seatColumn}</if>
            <if test="seatRow != null">AND seatRow = #{seatRow}</if>
            <if test="hasSocket != null">AND hasSocket = #{hasSocket}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
    </select>

</mapper>